{% extends "base.html" %}
{% import 'macros.html' as macro%}
{%block content%}
<br>
<div class="container">
    <div class="container" style="text-align: center">
        <h1><b> Global Football </b></h1>
        <br>
        <hr>
        <br>
    </div>
    <div class="container">
        <h4><b> API Status </b></h4>
        <p>{{macro.display_test(test_call)}}</p>
    </div>
    <br>
    <hr>
    <br>
    <div class="container">
        <h2 style="text-align: center"><b> Available Leagues </b></h2>
        <br>
        <br>
        <p>{{macro.display_leagues(leagues)}}</p>
    </div>
</div>
{% endblock %}