{% extends "base.html" %}
{% import 'macros.html' as macro%}
{%block content%}
<br>
<div class="container">
    <div class="container" style="text-align: center">
        <h1><b> Global Football </b></h1>
        <br>
        <h4><i> *API stuff goes here..* </i></h4>
    </div>
    <br>
    <hr>
    <br>
    <div class="container">
        <h3 style="text-align: center"> Database Status </h3>
        <br>
        <hr>
        <br>
        <p>{{macro.display_team(team)}}</p>
    </div>
</div>
{% endblock %}