{% extends 'base.html'%}

{% block content %}

<br>
<h1 style="text-align:center"><b> {{ player.name}} </b></h1>
<br>
<hr>
<br>
<div class="container">
    <div class="row">
        <div class="container">
            <h4><b>Name: </b><i>{{ player.name}}</i></h4>
            <h4><b>Nationality: </b><i>{{ player.nationality}}</i></h4>
            <h4><b>Current Team: </b><i>{{ player.team_name}}</i></h4>
            <h4><b>Position: </b><i>{{ player.position}}</i></h4>
        </div>
    </div>
</div>
<hr>

{% endblock %}